<div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-3 col-sm-3">
          <h3>Filter</h3>
        <form>
          <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter keywords">
          </div>
          <div class="form-group">
            <label>Year</label>
            <div class="radio">
              <label><input type="radio" name="optradio">Before</label>
              <label><input type="radio" name="optradio">After</label>
              <input type="number" class="form-control" id="exampleInputEmail1" placeholder="Year">
            </div>
          </div>
          <div class="form-group">
            <label>Genre</label>
            <div class="radio">
              <label><input type="radio" name="genre">Crime</label>
              <label><input type="radio" name="genre">Western</label>
              <label><input type="radio" name="genre">Drama</label>
              <label><input type="radio" name="genre">Action</label>
            </div>
          </div>
          <div class="form-group">
            <label>Summary</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter keywords">
          </div>
          <button type="submit" class="btn btn-default">Apply</button>
        </form>
        </div>
        <div class="col-md-9 col-sm-9">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Title</th>
              <th>Year</th>
              <th>Country</th>
              <th>Genre</th>
              <th>Director</th>
              <th>Actors</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="movie in movies">
              <td>{{movie.title}}</td>
              <td>{{movie.year}}</td>
              <td>{{movie.country}}</td>
              <td>{{movie.genre}}</td>
              <td>{{movie.director}}</td>
              <td><span ng-repeat="actor in movie.actors">{{actor}}&nbsp;&nbsp;&nbsp;</span></td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
    </div> <!-- /container -->