<div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-3 col-sm-3">
          <h3>Filter</h3>
        <form>
          <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" placeholder="Enter keywords" ng-model="titleKeywords">
          </div>
          <div class="form-group">
            <label>Year</label>
            <div class="radio">
              <label><input type="radio" name="yearOption" ng-model="yearOption" value="before">Before</label>
              <label><input type="radio" name="yearOption" ng-model="yearOption" value="after">After</label>
              <input type="number" class="form-control" ng-model="yearValue" placeholder="Year">
            </div>
          </div>
          <div class="form-group">
            <label>Genre</label>
            <div class="radio">
              <label><input type="radio" name="genre" ng-model="genre" value="Crime">Crime</label>
              <label><input type="radio" name="genre" ng-model="genre" value="Western">Western</label>
              <label><input type="radio" name="genre" ng-model="genre" value="Drama">Drama</label>
              <label><input type="radio" name="genre" ng-model="genre" value="Action">Action</label>
            </div>
          </div>
          <div class="form-group">
            <label>Summary</label>
            <input type="text" class="form-control" placeholder="Enter keywords" ng-model="summaryKeywords">
          </div>
          <button type="submit" class="btn btn-default" ng-click="applyFilter()">Apply</button>
        </form>
        </div>
        <div class="col-md-9 col-sm-9">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Title</th>
              <th>Year</th>
              <th>Country</th>
              <th>Genre</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="movie in movies" ng-click="gotoDetail(movie)">
              <td>{{movie.title}}</td>
              <td>{{movie.year}}</td>
              <td>{{movie.country}}</td>
              <td>{{movie.genre}}</td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
    </div> <!-- /container -->