<div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-3 col-sm-3">
          <h3>Filter</h3>
        <form>
          <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" placeholder="Enter keywords" ng-model="titleKeywords">
          </div>
          <div class="form-group">
            <label>Componist</label>
            <input type="text" class="form-control" placeholder="Enter keywords" ng-model="componistKeywords">
          </div>
          <button type="submit" class="btn btn-default" ng-click="applyFilter()">Apply</button>
        </form>
        </div>
        <div class="col-md-9 col-sm-9">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Title</th>
              <th>Compser</th>
              <th>Get score for</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="song in songs" ng-click="gotoDetail(movie)">
              <td>{{song.title}}</td>
              <td>{{song.composer}}</td>
              <td>
                <p ng-repeat="instrument in song.instuments" ><a ng-href="http://localhost?method=getScore&file={{song.file}}&instrument={{instrument.name}}" title="download score for {{instrument.name}}">{{instrument.name}}</a></p>

              </td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
    </div> <!-- /container -->
